name: Lint

on:
  pull_request:
    branches:
      - main

jobs:
  style:
    uses: knative/actions/.github/workflows/reusable-style.yaml@main
    with:
      yaml: false
      gha_yaml_path_regex: '**/*.(yaml|yml)'
